<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Message</title>
</head>
<body>
<h1>MessageEnfin</h1>

<form action="#" th:action="@{/msg}" th:object="${newMessage}" method="POST">
<p>Auteur</p>
<input type="text" th:field="*{auteur}">
<p>Message :</p>
<input type="text" th:field="*{message}">
<input type="submit" value="Save">
</form>

<div th:each="msg:${msglist}" >
     <p th:text="${msg.auteur}"></p>
     <p th:text="${msg.horaire}"></p>
     <p th:text="${msg.message}"></p>
</div>
</body>
</html>